
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

button,
input{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.open{
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: var(--white);
}


